* {
    background-color: #63856a;
    font-family: 'Architects Daughter', cursive;
}

:root {
    --chalk-yellow: #f5f9ad;
    --white: #fff;
}

.heading-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: rgb(31, 1, 1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.911);
    transition: 0.5s;
    border-radius: 5pt;
    margin:40px;
    padding: 50px;
    color: var(--chalk-yellow);
}

.heading-box h1 {
    align-items: center;
    margin: 0pt;
    margin-bottom: 15px;
    font-size: 50px;
}

.heading-box button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.questionStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: rgb(31, 1, 1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.911);
    transition: 0.5s;
    border-radius: 5pt;
    margin:50px;
    padding: 50px;
    color: var(--chalk-yellow);
}

.time {
    position: fixed;
    top:0;
    right: 0;
    padding: 10px;
}

 .questions h3 {
    font-size: 35px;
}

.highscoreboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: solid;
    border-color: rgb(31, 1, 1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.911);
    transition: 0.5s;
    border-radius: 5pt;
    margin:0 auto;
    padding: 30px;
    color: var(--chalk-yellow);
}

button {
    color: white;
    margin: 10px;
    padding: 5px;
}

footer {display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: auto;
border: solid;
border-color: #63856a;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.911);
transition: 0.5s;
border-radius: 5pt;
margin-top: 50px;
padding: 30px;
color: var(--chalk-yellow);
font-size: 20px;
}

form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    height: 1.5rem;
    font-size: 1.8rem;
    padding: 10px;
    border: solid;
    border-color: white;
    border-radius: 5px;
    background-color:  #63856a;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.911);
}

input::placeholder{
    color: var(--chalk-yellow);

}